<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title">Contact Us</h2>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<form class="col s12 contact-us-form">
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="text" class="validate" id="name">
      <label for="name" class="active">Full Name</label>
    </div>
  </div>
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="email" class="validate" id="email">
      <label data-success="right" data-error="wrong" for="email">Email</label>
    </div>
  </div>
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="text" class="validate" id="phone">
      <label for="phone" class="active">Phone Number</label>
    </div>
  </div>
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="text" class="validate" id="subject">
      <label for="subject" class="active">Subject</label>
    </div>
  </div>
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <textarea name="message" id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Message</label>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col s12">
      <button class="btn-large waves-effect waves-light" type="submit">Submit <i class="material-icons right">send</i></button>
    </div>
  </div>
</form>

<!-- /Main Content -->

<script type="text/javascript">
  $(document).ready(function() {

      $(".contact-us-form").on('submit', function(e){
          e.preventDefault();
          var form = $(this);

          $.request('onSendMail',{
           data : {
            sendto    : "ibrdrahim@gmail.com",
            name    : form.find("input[name=name]").val(),
            email   : form.find("input[name=email]").val(),
            phone : form.find("input[name=phone]").val(),
            subject : form.find("input[name=subject]").val(),
            message : form.find("textarea[name=message]").val()
           },
           success : function(resp){
            alert(resp.result)
           },
           error : function(resp){
            alert(resp.result)
           }
          });
      });
  });
</script>