[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "about"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="center">
    
<ul class="post-list">
    {% for post in posts %}
        {% if loop.index%3 == 1 or loop.first %}
            <div class="lt-row row">
        {%endif%}
            <div class="lt-col col m4 s12">
              <div class="card grey lighten-3 z-depth-0">
                <div class="card-image">
                {%if post.featured_images[0].path%}
                  <img class="responsive-img" alt="image" src="{{post.featured_images[0].path}}">
                {%else%}
                  <img class="responsive-img" alt="image" src="{{ 'assets/img/Swift-Logo.jpg'|theme }}">
                {%endif%}
                  <span class="card-title">{{post.title | raw}}</span>
                </div>
                <div class="card-content">
                  {{ post.summary  | raw}}
                  </br>
                  </br>
                  <i>{{ post.published_at|date('M d, Y') }}</i>
                </div>
                <div class="card-action">
                  <a href="{{'article-detail' | page({slug:post.slug})}}" target="_blank">Read More ...</a>
                </div>
              </div>
            </div>
        {% if loop.index%3 == 3 or loop.last %}
            </div>
            <div class="hide-on-small-only" style="height: 20px;"></div>
        {%endif%}
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
  <ul class="pagination">
      {% if posts.currentPage > 1 %}
          <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
      {% endif %}

      {% for page in 1..posts.lastPage %}
          <li class="{{ posts.currentPage == page ? 'active' : null }}">
              <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
          </li>
      {% endfor %}

      {% if posts.lastPage > posts.currentPage %}
          <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
      {% endif %}
  </ul>
{%endif%}
</div>