[builderList WhatWeDo]
modelClass = "AyatMaulana\Swiftid\Models\WhatWeDo"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Picture]
modelClass = "AyatMaulana\Swiftid\Models\AboutPicture"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Desc]
modelClass = "AyatMaulana\Swiftid\Models\AboutDesc"
scope = "-"
displayColumn = "desc"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">What We Do</h2>
      
      {% for d in Desc.records %}
          <p class="flow-text">{{ d.desc }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
      
   {% for w in WhatWeDo.records %}
   
    <div class="lt-col col m4 s12">
      <i class="large {{ w.icon }} primary-color-text"></i>
      <h5>{{ w.title }}</h5>
      <p>{{ w.desc }}</p>
    </div>
    
    {% endfor %}
   
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <!-- <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Office</h2>
      <p class="flow-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
  </div> -->

  <div class="lt-vertical-spacer"></div>

    
    
  <div class="lt-row row">
    {% for p in Picture.records %}
    
        <div class="lt-col col m6 s12">
          <img class="responsive-img" alt="{{ p.name }}" src="{{ p.picture.path }}">
        </div>

    {% endfor %}
  </div>
  

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <!-- <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-03.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-04.jpg'|theme }}">
    </div>
  </div> -->
</div>