[builderList blogs]
modelClass = "AyatMaulana\Swiftid\Models\HomeSlider"
scope = "-"
displayColumn = "slider_title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="lt-row row">
  
  
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
      
      {% for blog in blogs.records %}
      
        <li>
          <img src="{{ blog.picture.path }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">{{ blog.slider_title }}</h2>
            <h5 class="lt-slider-subtitle">{{ blog.slider_desc | raw }}</h5>
            {% if blog.slider_url %}
                <div class="lt-slider-button">
                  <a href="{{blog.slider_url}}" target="_blank" class="waves-effect waves-light btn-large primary-color-background">{{blog.slider_button}}</a>
                </div>
            {%endif%}
            </div>
          </div>
        </li>
       
       {% endfor %}
       
      </ul>
    </div>
  </div>
</div>